/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F5F5F5;
  }
  
  /* Common button styles */
  button {
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.3s ease;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  /* Common container styles */
  .container {
    max-width: 1348px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
  }
  
  /* Responsive images */
  img {
    /* max-width:338px;
    height:90px;
    top: 20px;
    left: 42px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px; */

  }
  
  /* Typography */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #082431;
  }
  
  p {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
  }
  
  /* Media Queries */
  @media (max-width: 1200px) {
    .container {
      padding: 0 40px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 0 20px;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 0 16px;
    }
  }
  