.introduction1-hero{
    width: 90%;
    min-height: 250px;
    background-color: #1739574f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px 80px;
    box-sizing: border-box;
    block-size: 250px;
    border-radius: 10px;
    margin-top: -20px;
    margin-left: 70px;
  }
  
  .introduction1-hero__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
  color: #131313B2;
    text-align: center;
    max-width: 1192px;
    margin: 0;
    margin-bottom: 93px;
    line-height: 1.1;
  }
  
  .introduction1-hero__cta {
    width: 350px;
    height: 63px;
    background-color: #FFAA00;
    border: none;
    border-radius: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: -40px;
    padding: 10px;
  }
  
  .introduction1-hero__cta:hover {
    background-color: #FFB824;
  }
  
  .introduction1-hero__cta:active {
    background-color: #E69900;
  }
  
  